.users-comments {
  margin-bottom: 100px;
}
.users-comments .swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: var(--white-color);
  min-height: 280px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 36px;
}
.user-comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-comment__img {
  width: 60px;
  height: 61px;
  border-radius: 100%;
  object-position: top;
  object-fit: cover;
}
.user-comment__rating {
  margin-bottom: 10px;
}
.user-comment__content {
  margin: auto;
  max-width: 700px;
  font-size: 0.95rem;
  line-height: 20px;
  margin-bottom: 10px;
  color: var(--dark-color);
}
.user-comment__data {
  font-size: 0.8rem;
  color: var(--gray-color);
  font-style: italic;
  font-weight: 600;
}
.comments-slider .swiper-button-next:after,
.swiper-button-prev:after {
  color: var(--salmon-color);
  font-size: 1.5rem;
}
.comments-slider .swiper-pagination-bullet {
  background-color: var(--gray-color);
}
.comments-slider .swiper-pagination-bullet-active {
  background-color: var(--salmon-color);
}
