.banner {
  position: relative;
  max-height: 600px;
  overflow: hidden;
}

.banner::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(254, 96, 55, 1) 0%,
    rgb(255 145 117 / 58%) 51%,
    rgba(254, 242, 238, 0) 100%
  );
  z-index: 5;
  bottom: 0;
  left: 0;
}

.banner__image {
  width: 100%;
  min-height: 350px;
  object-fit: cover;
}
