.slider-container {
  margin-top: 60px;
  margin-bottom: 50px;
}
.slider-swiper {
  min-height: 20vh;
}
.slider-swiper__element .store__item--img {
  min-height: 370px;
}
.slider-swiper__element .swiper-button-next:after,
.swiper-button-prev:after {
  color: var(--salmon-color);
  font-size: 1.5rem;
}
.slider-swiper__element .swiper-button-next,
.slider-swiper__element .swiper-button-prev {
  width: 50px;
}
.slider-swiper__element .swiper-pagination-bullet {
  display: none;
}

/*
* ----------------------
*    breakpoints
* ----------------------
*/
/* @media (max-width: 576px) {} */
