.goback {
   display: flex;
   align-items: center;
   gap: 10px;
   width: 100%;
   font-size: 1rem;
   color: var(--dark-color);
   position: relative;
   min-height: 140px;
}

.goback__link {
   display: flex;
   align-items: center;
   gap: 10px;
} 

.goback__link::after {
    position: absolute;
    content: "";
    width: 73px;
    height: 2px;
    background-color: var(--dark-color); 
    left: 4px;
    top: 85px;
    opacity: 0;
    transition: var(--transition);
} 

.goback__link:hover.goback__link::after {
  opacity: 1;
} 

.goback__link img {
  width: 100%;
  max-width: 20px;
}