.store__header {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.store__navbar {
  color: var(--white-color);
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  transition: var(--transition);
  padding: 10px 0px;
  z-index: 100;
  background-color: var(--salmon-color);
}

.store__navbar .store__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
  transition: var(--transition);
}

.store__navbar--logo {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: var(--transition);
  color: var(--black-color);
}

.store__navbar--nav ul {
  display: flex;
  gap: 30px;
}

.store__navbar--nav ul li {
  font-size: 1rem;
  transition: var(--transition);
  position: relative;
  cursor: pointer;
  color: var(--black-color);
}

.store__navbar--nav li::after {
  content: "";
  position: absolute;
  width: 100%;
  opacity: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--black-color);
}

.store__navbar--nav li:hover::after {
  opacity: 1;
}

.store__sticky-header {
  transition: var(--transition);
}

.store__sticky-header.store__navbar {
  box-shadow: rgb(0 0 0 / 30%) 0px 3px 10px 0px;
  background-color: rgb(245 114 80 / 30%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.store__hamburger {
  display: none;
}

/*
* ----------------------
*    breakpoints
* ---------------------- 
*/

@media (max-width: 990px) {
  .store__navbar--nav ul {
    display: none;
  }

  .store__hamburger {
    display: block;
    width: 100%;
    max-width: 24px;
  }
}
