.store__header {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
}

.store__navbar {
  color: var(--white-color);
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  transition: var(--transition);
  padding: 10px 0px;
  z-index: 100;
  background: linear-gradient( 90deg, rgba(254, 96, 55, 1) 0%, rgb(255 145 117 / 58%) 51%, rgba(254, 242, 238, 0) 100% ); 
}

.store__navbar .store__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
  position: relative;
  transition: var(--transition);

}

.store__navbar--logo {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: var(--transition);
  color: var(--black-color);
}

.store__navbar--link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex: 2;
  max-width: 696px;
}

.store__navbar--links,
.store__navbar--user {
  display: flex;
  align-items: center;
  gap: 30px;
}

.store__links--item {
  font-size: 1rem;
  position: relative;
  cursor: pointer;
  color: var(--black-color);
}

.store__links--item::after {
  content: "";
  position: absolute;
  width: 100%;
  opacity: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--black-color);
  transition: var(--transition);
}

.store__links--item:hover::after {
  opacity: 1;
}

.store__user--bag,
.store__user--login,
.store__user--burger {
  max-width: 25px;
  cursor: pointer;
}

.store__navbar--overlay,
.store__user--burger {
  display: none;
}

.store__sticky-header {
  transition: var(--transition);
}

/* transição navbar sticky */
.store__sticky-header.store__navbar {
  background: rgb(245 114 80 / 50%);
  box-shadow: rgb(0 0 0 / 30%) 0px 3px 10px 0px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);    
}

.store__header--overlay {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.658);
  opacity: 0;
  visibility: hidden;
  transition: all ease .3s;
}

.store__header--cart {
  position: fixed;
  z-index: 10000;
  background-color: #fff;
  top: 0;
  right: 0;
  bottom: 0; 
  width: 400px; 
  transform: translate(430px);
  transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
} 
.offcanvas-active { 
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}  

body.offcanvas-active {
  overflow-y: hidden!important;
}

.store__cart--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 20px; 
  background-color: var(--black-color);
}

.store__cart--header img  {
  max-width: 20px;
  cursor: pointer;
}
 
.store__header--title {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--white-color); 
}


.store__header--account {}

/*
* ----------------------
*    breakpoints
* ---------------------- 
*/

@media (max-width: 1240px) {
  .store__navbar--link {
    max-width: 603px;
  }
}

@media (max-width: 990px) {
  .store__navbar--link {
    max-width: 390px;
  }
}

@media (max-width: 660px) { 
 .store__navbar--overlay,
  .store__user--burger {
    display: block;
  }
   
  .store__navbar--links  {
    display: none;
  } 

  .store__navbar--logo {
    font-size: 1.2rem;
  } 
}


@media (max-width: 520px) {
  .store__header--cart.offcanvas-active {
    width: 100%; 
  }
}