.store__blog {
  margin-bottom: 50px;
}

.store__blog-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 20px;
}

/*
* ----------------------
*    breakpoints
* ---------------------- 
*/
@media (max-width: 992px) {
  .store__blog-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .store__blog-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 476px) {
  .store__blog-container {
    grid-template-columns: 1fr;
  }
}
