.customers-blog {
  margin-bottom: 50px;
}
.customers-blog__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 20px;
}
/*
* ----------------------
*    breakpoints
* ----------------------
*/
@media (max-width: 992px) {
  .customers-blog__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .customers-blog__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 476px) {
  .customers-blog__container {
    grid-template-columns: 1fr;
  }
}
