
.product-details__wrapper {
  padding: 15px 0;
  min-height: calc(100vh - 447px);
}

.product-content {
  display: flex;
}
.product-content__image,
.product-content__description {
  flex: 1;
}

.product-content__image--item{
  width: 100%;
  max-width: 400px;
  margin: auto;
  height: 100%;
  object-fit: cover;
  margin-left: 0;
}

.product-content__details--title {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 30px;
  color: var(--dark-color);
  text-transform: uppercase;
}

.product-content__details--price {
    margin-bottom: 50px;
    font-size: .85rem;
    line-height: 20px;
    color: var(--gray-color);
}

.product-content__description span {
  display: flex;
  width: 100%;
  height: 2px;
  background-color: var(--gray-color2);
  margin-bottom: 20px;
}

.product-content__description--text {
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 22px;
  color: var(--gray-color);
}

.product-content__description
.store__info--social-links a:hover {
  color: var(--salmon-color);
  border: 2px solid var(--salmon-color);
}

.product-content__description--container {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.product-content__description--container .store__button-one {
  background-color: var(--black-color);
  color: var(--white-color);
}

.product-content__description--form {
  display: flex;
  min-height: 35px;
}

.product-content__form--select {
  width: 150px;
  cursor: pointer;
  border: 1.5px solid var(--gray-color);
  transition: var(--transition);
}
.product-content__form--select:focus {
  outline: none;
  border: 1.5px solid var(--salmon-color);
}

.product-content__description--form .store__button-one:hover {
  filter: brightness(40%);
}

.store__disable-button {
  background-color: var(--dark-color);
  border: none;
  color: var(--gray-color);
  cursor: not-allowed;
  padding: 5px 20px;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  align-self: center;
  min-width: 150px;
  transition: var(--transition);
  min-height: 35px;
  margin-bottom: 20px;
}

/*
* ----------------------
*    breakpoints
* ----------------------
*/

@media (max-width: 992px) {
  .product-content__description
  .store__info--social-links a {
    margin: inherit;
  }
  .product-content {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 476px) {
  .product-content__description--container {
    justify-content: space-between;
  }

  .product-content__description--form {
    flex-direction: column;
    width: 100%;
  }

  .product-content__form--select {
    max-width: none;
    width: 100%;
    min-height: 35px;
  }

  .product-content__description--container .store__button-one  {
      width: 100%;
      min-width: 215px;
  }

  .product-content__description
  .store__info--social-links a {
    margin: auto;
  }
}
